/*ï»¿header, nav, main, footer, aside {display: block;}*/
body {font-family: Verdana, "Arial", sans-serif;
      font-size: .85em;
      margin: 0;
      background-color: #5B5393;
}
/* Formats the header section to have a background */
header{ 
    background-image: url(primelogo.gif);
    background-position: center; 
    /*color:  #869de7;*/
    /*text-align: right;*/
    font-size: 110%;
    padding: 20px 20px 20px 20px;
    /*border-bottom: 2px solid #000000;*/
    background-repeat: no-repeat;
}		
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/* Formats the main to have a white background and hold the text */
main { margin: 0 190px 0 160px;
       color: #000000;
       padding-left: 20px;
       padding-bottom: 20px; 
}
/* Formats the footer to align the middle,  */
footer{font-size: .70em;
       text-align: center;
       padding-top: 10px;
       clear: both;}
/* Formats the header at the top*/
h1{ text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;}
h2{
    font-size: 1.5em;
}
h3{
    /*margin-top: 10px;*/
    font-size: 1.2em;
}
#wrapper {
    display: inline-block;
}

#leftside{
    float: left;
    width: 20%;
}
#rightside{
    float: right;
    width: 20%;
}
#content{
    display: table;
    text-align:center;
    background-color: #FFFFFF;
    margin-left: auto; 
    margin-right: auto; 
    /*width: 80%;*/
    color: #000066;
    min-width: 600px;
    max-width: 900px;
    /*    padding-left:100px;
        padding-right:100px;*/
    padding-bottom: 10px;
    border: 1px solid #000000;
}
#menu {
    /*    background-color: #FF00FF;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 0.7em;*/
}
#lowernav {
    text-align:center;
    /*margin-top: 9px;*/
    padding-top: 20px;
    /*float:left;*/
    /*width:436px;*/
    /*margin-left:332px;*/
}

/* Wrapper id that formats the borders that I will be using */
#comic {
    margin-top: 100px;
    position:initial;
    text-align:center;
    padding-bottom: 20px;
    padding-left:100px;
    padding-right:100px;
    /*    margin-left: auto; 
        margin-right: auto; 
        width: 80%;*/
    /*    min-width: 200px;
        max-width: 600px;*/
    /*border: 1px solid #000000;*/
}

#notes{
    padding-bottom: 20px;
    margin-left: 30px;
    width:80%;
}

#bottomhalf {
    padding-top: 10px;
}

#title{
    /*padding-top: 100px;*/
    position:relative;
    text-align: left;
    /*margin-left: 30px;*/
}

#date{
    /*margin-left: 30px;*/
    font-size: 0.7em;
    text-align:left;
}

#text_body{
    /*    margin-top: 35px;
        margin-left: 30px;*/
    text-align:left;
    margin: 30px 30px 30px 30px; 
}

/* Classes */
.first{
    background:url('../images/back.png');
}
.prev{
    background:url('../images/prev.png');
}
.next{
    background:url('../images/next.png');
    margin-left:225px !important;
}
.last{
    background:url('../images/foward.png');
}
.nav{
    width:436px;
    height:44px;
    margin: 0 auto;
}
.nav a{
    float:left;
    display:block;
    height:44px;
    margin: 0px 5px;
    width:44px;
}
.nav a:hover{
    background-position:-44px 0px;
}

/* Formats a label element to have float */
label {float: left;
	 /*text-align: right;*/
	 font-weight: bold;
	 /*width: 8em;*/
	 padding-right: 2px;}
/* Formats the input element with a block display */
input, textarea {display: block;
	 margin-bottom: 1em;}

textbody {
    width:300px;
    resize:none;
    overflow:hidden;
    font-size:18px;
    height:1.1em;
    padding:2px;
}